footer{
  background-color: #1A181B;
  color: #05F140;
  margin-top: 50px;
  text-align: center;
}
div{
  background-color: #564D65;
  text-align: center;
}
button{
  border-radius: 5px;
}
button:hover
{
 
  box-shadow: inset 0 0 0 25px #2CDA9D;
}
header{
  color: #2CDA9D;
}
h4{
  color: #05F140;
}